body {
    background-color: #CDC2AE;

}


.principal {
    background: #8E806A;

}


.menu-desativado {
    top: -100vh;
    position: absolute;


}


.material-icons {
    margin-left: 50%;
    color: #F7ECDE
}

.material-icons:hover {
    cursor: pointer;
}

.material-icons:active {
    color: #80558C;
    font-size: 1.2rem;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-cadastro {
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #316B83;
    margin-bottom: 3rem;

}

.logo {
    width: 10rem;
    margin: 0 0 1rem 1.2rem;
}



.lista-cabecalho {
    display: inline;
    margin: 0 1rem 0 0.5rem;
}

.link-cabecalho {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #F7ECDE;
    font-size: 1.3rem;
}

.link-cabecalho:hover {
    color: #CDC2AE;
    font-size: 2rem;
    text-decoration: underline;
}

.ficha-cadastro {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.5rem;
}

.formulario {
    width: 100%;
    max-width: 50rem;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: #F3F0D7;
    box-shadow: 3px 2px 7px 5px #A2B29F;



}

.cadastros {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-bottom: 1.2rem;
    position: relative;
}

.cadastro-label {
    font-size: 0.8rem;
    font-family: 'Mukta', sans-serif;
    font-style: italic;
    font-weight: 600;

}

.input.input:not(:placeholder-shown) {
    background-color: #9ED2C6;
}

.cidade-label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    transition: 1s;
}

.input {
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 1rem 0.5rem 0.2rem 0.3rem;
    height: 3.25rem;
    width: 100%;
    border-radius: 7px;

}

.input::placeholder {
    visibility: hidden;
}

.input:focus {
    outline: none;
}

.input:not(:placeholder-shown)+.cidade-label,
.input:focus+.cidade-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.7s;
}

.estado-label {
    margin-left: 3rem;
}

#estado-escolha {
    width: 20%;
    border-radius: 7px;
    text-align: center;
}


.botao-submit {
    border-radius: 7px;
    border: 0.5px solid #11324D;
    width: 7rem;
    padding: 0.2rem 0.7rem;
    background-color: #F3F0D7;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    color: #5D534A;
    margin: 0 40%;

}

.cidade-texto {
    margin-left: 0.8rem;

}

.botao-submit:hover {
    cursor: pointer;
    background-color: #EAE3C8;
    font-size: 1.1rem;
    box-shadow: 2px 2px 4px 3px #C2B092;
}

.botao-submit:active {
    background-color: #C8C6A7;
}

.area-texto {
    border-radius: 7px;
}

.carrosel-principal {
    position: relative;
    padding: 1rem;
    max-width: 500px;
    margin: 0 auto;
}

.titulo-carrossel {
    padding-top: 2.8em;
}

.texto-carrossel {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 2rem 0;
    color: #3A6351;
    font-family: 'Playfair Display', serif;
}

.galeria-principal {
    margin: 0 auto;
    width: 800px;
    height: 400px;

}

.imagem {
    width: 20vw;
    height: 37vh;
    margin-left: 20%;
    position: absolute;
    opacity: 0;
    transition: opacity 700ms;

}

.imagem-atual {
    opacity: 1;
}



.rodape {
    background-color: #316B83;
}

.imagem-rodape {
    display: block;
    margin: 0 auto;
    width: 10%;
    padding: 2rem;
}

.texto-rodape {
    font-family: 'Mukta', sans-serif;
    text-align: center;
    font-size: 0.7rem;
    color: #F8F0DF;
}

@media screen and (max-width: 767px) {


    .principal {

        width: 100%;
    }

    .cabecalho {
        flex-direction: column;
    }

    .logo {
        margin: 1rem 0 1rem 1.2rem;
    }

    .lista {
        margin-bottom: 1.5rem;
    }

    .lista-home {
        margin-left: 1rem;
    }

    .link-cabecalho {
        font-size: 0.9rem;
    }

    .link-cabecalho:hover {
        font-size: 1rem;

    }


    .titulo-cadastro {
        font-size: 2rem;
    }

    .estado-label {
        margin-left: 5rem;
    }

    #estado-escolha {
        width: 100%;
    }

    .botao-submit {
        margin: 0 auto;
        display: block;
    }

    .imagens-mes {
        width: 100%;
    }

    .galeria-principal {
        
        width: 100%;
    }

    .texto-carrossel {
        font-size: 0.8rem;
    }

    .imagem {
        width: 93%;
        margin-left: 0;
        height: 30vh;
    }



    .imagem-rodape {
        width: 30%;
    }

    .texto-rodape {
        font-size: 1.1rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .principal {

        width: 100%;
    }

    .cabecalho {
        flex-direction: column;
    }

    .logo {
        margin: 1rem 0 1rem 1.2rem;
    }

    .lista {
        margin-bottom: 1.5rem;
    }

    .lista-home {
        margin-left: 1rem;
    }

    .link-cabecalho {
        font-size: 1.1rem;
    }

    .link-cabecalho:hover {
        font-size: 1rem;

    }

    #estado-escolha {
        width: 100%;
    }

    .carrosel-principal {
        display: flex;
        align-items: center;
        height: 50vh;
    }

    .texto-carrossel {
        font-size: 1.5rem;
    }

    .galeria-principal {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .imagem {
        width: 25vw;
        height: 43vh;
        /* bottom: 34%;
        left: -4%; */
        margin: 1rem;
    }

    .imagem-rodape {
        width: 20%;
    }

    .texto-rodape {
        font-size: 1.2rem;
    }
}