body {
    background-color: #CDC2AE;
    
}


.principal {
    background: #79B4B7;
    padding: 1.2rem;
    border-radius: 7px;
       
}


.menu-desativado {
    top: -100vh;
    position: absolute;
    

}


.logo {
    width: 10rem;
    margin: 1rem;
    display: block;
    margin: 0 auto;
    
}

.confirmacao-principal,
.sessao-botao {
    margin: 0.5rem auto;
    width: 100%;
    max-width: 45rem;
    background-color: #CDF2CA;
    border-radius: 7px;
    padding: 2.5rem 1.5rem;
    text-align: center;
    display: block;
}

.confirmacao-principal {
    margin-bottom: -1.5rem;
}

.sessao-botao {
    margin-top: 0;
}

.confirmacao-fechada {
    display: none;
}

.material-icons {
    margin-left: 50%;
    margin-top: 0.7rem;
    cursor: pointer;
    color: #5E454B;
    
}

.material-icons:hover {
    font-size: 1.7rem;
}

.imagem-checked {
    display: block;
    margin: 0 auto;
    width: 25vw;
    height: 25vh;
}

.texto-cadastro {
    font-size: 2.5rem;
    color: #DE8971;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

.btn {
    border: 3px solid #BFD8B8;  
    padding: 1.1rem 4rem;
    background-color:#C1FFD7 ;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    color: #5F939A;
    font-size: 1.3rem;
}

.btn:hover {
    background-color: #CAF7E3;
    padding: 1.3rem 4.2rem;
    font-size: 1.5rem;
}