.container {
    background-color: #CDC2AE;
    height: 100vh;
}


.principal {
    background: #141D37;

}

.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.logo {
    margin: 1rem;
    width: 10rem;
}

.lista-cabecalho {
    display: inline;
    margin: 0 1rem 0 0.5rem;
}

.link-cabecalho {
    color: #F7ECDE;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.link-cabecalho:hover {
    color: #CDC2AE;
    font-size: 2rem;
    text-decoration: underline;
}

.cidades {
    padding-bottom: 0.5rem;
}

.cidade:hover {
    color: #316B83;
    cursor: pointer;
    font-size: 1.2rem;
}

.titulo-principal {
    color: #3A6351;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem 0;
    text-align: center;
}

.imagens-cidades {
    display: flex;
    height: 100%;
    justify-content: space-around;
    margin-top: 1.5em;
    width: 100%;

}


.imagens {
    height: 280px;
    width: 200px;
}

.imagens:hover {
    cursor: pointer;
    opacity: 0.5;
}

.descricao {
    color: #525EAF;
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem;
    text-align: center;
}



.dados {
    background-color: #EFEAD8;
    padding-top: 0.5rem;
}

.dados-cartao {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.lista-dados {
    background-color: #F3F0D7;
    border-radius: 7px;
    box-shadow: 0 2px 10px 2px #5E454B;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    max-width: 300px;
    width: 100%;
}

.material-icons {
    color: #766161;
    margin-top: 0.8rem;
    text-align: center;
}

.titulo-cartao {
    border-bottom: 1px solid #B2B8A3;
    color: #7B6079;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0.5rem 0;
    padding: 1rem 0;
    text-align: center;
}

.conteudo-dados {
    margin-bottom: 0.5rem;
    padding: 0.2rem 2rem;
}

.texto-cartao {
    font-family: 'Mukta', sans-serif;
    line-height: 30px;
}

.texto-credito {
    font-family: 'Mukta', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0.4rem;
    text-align: center;
    text-decoration: underline;
}

.imagem-credito {
    display: inline-block;
    margin-left: 48%;
    padding-bottom: 0.4rem;

}

.rodape {
    background-color: #316B83;
}

.imagem-rodape {
    display: block;
    margin: 0 auto;
    padding: 2rem;
    width: 10%;
}

.texto-rodape {
    color: #F8F0DF;
    font-family: 'Mukta', sans-serif;
    font-size: 0.7rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container {
        height: 100vh;
    }

    .principal {

        width: 100%;
    }

    .cabecalho {
        flex-direction: column;
    }

    .lista {
        margin-bottom: 1.5rem;
    }

    .link-cabecalho {
        font-size: 1.1rem
    }

    .cidades {
        width: 100vw;

    }

    .principal-reponsivo {
        width: 100%;
    }

    .imagens-cidades {
        align-items: center;
        flex-direction: column;
    }

    .dados {
        width: 100vw;

    }

    .dados-cartao {
        align-items: center;
        flex-direction: column;
    }

    .texto-credito {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .link-credito {
        display: block;
        margin-right: 3rem;

    }

    .imagem-credito {
        margin-bottom: 0.5rem;
    }

    .rodape {
        height: 100%;
    }

    .rodape-responsivo {
        display: flex;
        flex-direction: column;
        height: 60vh;
        justify-content: center;
    }

    .imagem-rodape {
        width: 30%;
    }

    .texto-rodape {
        font-size: 1.1rem;
    }

}

@media screen and (min-width: 769px) and (max-width: 1280px) {

    .container {
        height: 100vh;
    }

    .cabecalho {
        justify-content: space-around;
    }

    .dados-cartao {
        align-items: center;
        flex-direction: column;
    }

    .imagem-rodape {
        width: 20%;
    }

    .texto-rodape {
        font-size: 1.2rem;
    }

    .rodape {
        height: 90%;
    }

    .rodape-responsivo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}