body {
    background-color: #003865;
}


.principal {
    background: #354259;
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}

.logo {
    width: 10rem;
    margin: 1rem;
}



.lista-cabecalho {
    display: inline;
    margin: 0 1rem 0 0.5rem;
}

.link-cabecalho {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #F7ECDE;
    font-size: 1.3rem;
}

.link-cabecalho:hover {
    color: #CDC2AE;
    font-size: 2rem;
    text-decoration: underline;
}

.titulo-imagens {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem 0;
    color: #FFDBA4;
    font-family: 'Playfair Display', serif;
}

.imagens-cidades {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1.5em;
}
.teste {
    width: 100%;
}
.imagens{
    
    width: 20vw;
}


/* .material-icons:hover {
    cursor: pointer;
} */